 @keyframes rotate-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes counter-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  .rotate-ring {
    animation: rotate-ring 10s linear infinite;
  }
  
  .counter-rotate {
    animation: counter-rotate 10s linear infinite;
  }
   



    